.main {
  width: 100%;
  padding: 0px 63px;
  margin-bottom: 12px;
}

.messageSent {
  background-color: rgb(0, 92, 75);
  padding: 9px 6px 7px 8px;
  max-width: 85%;
  color: rgb(233,237,239);
  font-size: 14.2px;
  position: relative;
  border-radius: 7.5px 0 7.5px 7.5px;
  float: right;
}

.secondSent {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.gap{
  width: 34.11px;
  height: 19px;
}

.dateMain{
  display: inline-block;
  padding: 0 0 0 7px;
  position: relative;
  bottom: -4px;
  float: right;
}

.date{
  display: inline-block;
  width: 34px;
  color: rgba(255,255,255,0.6);
  font-size: 11px;
  bottom: 0px;
  right: 5px;
  text-align: center;
}

.messageSent:after {
  border-width: 0px 0 10px 10px;
  border-color: transparent transparent transparent rgb(0, 92, 75);
  top: 0;
  right: -10px;
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
}

.messageRecieved {
  background-color: rgb(32, 44, 51);
  padding: 9px 6px 7px 8px;
  max-width: 85%;
  color: rgb(233,237,239);
  font-size: 14.2px;
  position: relative;
  border-radius: 0 7.5px 7.5px 7.5px;
  float: right;
}

.secondRecieved {
  width: 100%;
  display: flex;
  justify-content: flex-start;
}

.messageRecieved:after {
  border-width: 0px 10px 10px 0;
  border-color: transparent rgb(32, 44, 51) transparent transparent;
  top: 0;
  left: -10px;
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
}